<header class="text-white py-6">
  <div class="max-w-7xl mx-auto px-5">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-5">
      <div class="lg:col-span-6">
        <a href="/">
          <h1 class="text-white text-xl md:text-2xl font-bold">
            <img src="/assets/imgs/logo.svg" alt="Lab for Urban Justice and Technology">
          </h1>
        </a>
      </div>
      <ul class="lg:col-span-6 flex flex-col lg:flex-row lg:justify-end space-y-2 lg:space-y-0 lg:space-x-8 mt-4 lg:mt-0">
        <li>
          <a href="/#about" class="text-white hover:text-gray-300">About</a>
        </li>
        <li>
          <a href="/#our-work" class="text-white hover:text-gray-300">Our Work</a>
        </li>
        <li>
          <a href="/#team" class="text-white hover:text-gray-300">Team</a>
        </li>
      </ul>
    </div>
  </div>
</header>