<title>{{ page.title }}</title>

<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/assets/css/main.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="apple-touch-icon" sizes="180x180" href="/assets/imgs/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/imgs/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/imgs/favicon-16x16.png">
<link rel="manifest" href="/assets/imgs/site.webmanifest">